<select name="" id="" (change)="onChangePais($event)">
  <option value="todos">Todos</option>
  <option value="españa">España</option>
  <option value="reino unido">Reino Unido</option>
  <option value="chile">Chile</option>
  <option value="canadá">Canadá</option>
</select>
<div class="tabla">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>pais</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of this.aEscritores">
          <td>{{e.id}}</td>
          <td>{{e.nombre}}</td>
          <td>{{e.apellidos}}</td>
          <td>{{e.pais}}</td>
          <td><button [routerLink]="['/escritores/',e.id, 'libros']" >Ver</button></td>
        </tr>
      </tbody>
    </table>
</div>
<router-outlet></router-outlet>
