<div class="recuadro hcenter">
    <input type="text" class="resultado" value="{{this.resultado}}">
    <div class="div-botones">
        <div class="botones-numeros">
            <button (click)="this.btnOnclick($event)" class="btn-numero">1</button>
            <button (click)="this.btnOnclick($event)" class="btn-numero">2</button>
            <button (click)="this.btnOnclick($event)" class="btn-numero">3</button>
        
            <button (click)="this.btnOnclick($event)" class="btn-numero">4</button>
            <button (click)="this.btnOnclick($event)" class="btn-numero">5</button>
            <button (click)="this.btnOnclick($event)" class="btn-numero">6</button>
        
            <button (click)="this.btnOnclick($event)" class="btn-numero">7</button>
            <button (click)="this.btnOnclick($event)" class="btn-numero">8</button>
            <button (click)="this.btnOnclick($event)" class="btn-numero">9</button>
        
            <button (click)="this.btnOnclick($event)" class="btn-numero">0</button>
        </div>
        <div class="botones-operadores">
            <button (click)="this.btnOnclick($event)" class="btn-operador">+</button>
            <button (click)="this.btnOnclick($event)" class="btn-operador">-</button>
            <button (click)="this.btnOnclick($event)" class="btn-operador">*</button>
            <button (click)="this.btnOnclick($event)" class="btn-operador">/</button>
            <button (click)="this.getResultado($event)" class="btn-operador">=</button>
        </div>
        <div class="botones-funciones">
            <button (click)="this.btnOnclick($event)" class="btn-funcion">CE</button>
            <button (click)="this.btnOnclick($event)" class="btn-funcion">C</button>
            <button (click)="this.btnOnclick($event)" class="btn-funcion"> <- </button>
            <button (click)="this.btnOnclick($event)" class="btn-funcion">%</button>
        </div>
    </div>
</div>

