<h1 class="titulo">CAJA REGISTRADORA</h1>
<div class="restaurante">
  <div class="listas">
    <app-lista-productos (productoAgregado)="this.onProductoAgregado($event)" category="BEBIDA" [listaProductos]="this.aBebidas"></app-lista-productos>
    <app-lista-productos (productoAgregado)="this.onProductoAgregado($event)" category="COMIDA" [listaProductos]="this.aComidas"></app-lista-productos>
  </div>

  <div class="carrito">
    <app-carrito [productosAgregados]="this.productosAgregados"> </app-carrito>
  </div>

</div>

//
