<h1>Lista de compras</h1>
<div class="listaCompras">
  <app-formulario (productoCreado)="onProductoCreado($event)"></app-formulario>

  <div class="listas">
    <div class="izquierda">
        <app-lista-productos
          (botonClickeado)="onBotonClickeado($event)"
          [listaProductos]="this.listaProductosParaLaCompra"
          nombreBoton="COMPRAR">
        </app-lista-productos>
    </div>
    <div class="derecha">
        <app-lista-productos
          (botonClickeado)="onBotonClickeado($event)"
          [listaProductos]="this.listaProductosAgregados"
          nombreBoton="QUITAR">
        </app-lista-productos>
    </div>

  </div>
</div>

