.titulo{
  text-align: center;
  font-weight: bolder;
}
.restaurante {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  width: 90%;
  margin: 30px auto 0 auto;
}

.carrito {
  width: 32%;
  height: 500px;
  margin-left: 20px;
  /* border: 1px solid black; */
  padding: 10px;
}
.listas {
  width: 68%;
  padding: 10px;

  /* height: 500px; */
  /* border: 1px solid rgb(40, 165, 24); */
}


