.formulario{
  background-color: aliceblue;
  border: 2px solid lightgray;
  margin: auto;
  padding: 10px;
  width: 30%;
}

.entrada{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

div.entrada > button{
  background-color: rgb(18, 214, 18);
  color: white;
  border: 1px solid white;
}

.entrada select, .entrada input{
  /* color: white; */
  border: 1px solid rgb(237, 231, 231);
}
